#### Import libraries

In [ ]:
from datasets import load_dataset,load_from_disk

#### Load Dataset

In [12]:
raw_datasets = load_from_disk(r'C:\Users\swast\OneDrive\Documents\RAG_CoNaLa\RAG_CoNaLa\CoNaLa\content\CoNaLa')
raw_datasets = raw_datasets.shuffle(seed=42)

In [13]:
raw_datasets

DatasetDict({
    train: Dataset({
        features: ['intent', 'snippet'],
        num_rows: 24687
    })
    validation: Dataset({
        features: ['intent', 'snippet'],
        num_rows: 1237
    })
    test: Dataset({
        features: ['intent', 'snippet'],
        num_rows: 500
    })
})

In [16]:
dataset = raw_datasets['train']

In [23]:
# view dataset
dataset[0:5]

{'intent': ['Named tuples in a list',
  'python sum the values of lists of list',
  'starting two methods at the same time in python',
  'escaping quotes in string',
  'get a unique computer id in python on windows and linux'],
 'snippet': ['a = [mynamedtuple(*el) for el in a]',
  'result = [sum(b) for b in a]',
  'threading.Thread(target=play2).start()',
  'replace(\'"\', \'\\\\"\')',
  "subprocess.Popen('dmidecode.exe -s system-uuid'.split())"]}

##### Coverting hugging-face dataset to pandas

In [24]:
df_pandas = dataset.to_pandas()

In [26]:
df_pandas.head(3)

,intent,snippet
0,Named tuples in a list,a = [mynamedtuple(*el) for el in a]
1,python sum the values of lists of list,result = [sum(b) for b in a]
2,starting two methods at the same time in python,threading.Thread(target=play2).start()

In [27]:
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24687 entries, 0 to 24686
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   intent   24687 non-null  object
 1   snippet  24687 non-null  object
dtypes: object(2)
memory usage: 385.9+ KB

In [28]:
df_pandas.describe()

                                   intent     snippet
count                               24687       24687
unique                              15750        9632
top     python convert list to dictionary  plt.show()
freq                                   17         829

In [32]:
df_pandas.isnull().sum()

intent     0
snippet    0
dtype: int64

In [37]:
# dictionary is easy formatting for creating embedding
df_dict = df_pandas.to_dict(orient='records')