#### Import libraries

In [1]:
from datasets import load_dataset

/home/swastikm/work/Vector_Databse-main/vectordb_env/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

#### Load Dataset

In [2]:
raw_datasets = load_dataset('neulab/conala',trust_remote_code=True)

In [3]:
raw_datasets

DatasetDict({
    train: Dataset({
        features: ['question_id', 'intent', 'rewritten_intent', 'snippet'],
        num_rows: 2379
    })
    test: Dataset({
        features: ['question_id', 'intent', 'rewritten_intent', 'snippet'],
        num_rows: 500
    })
})

In [4]:
dataset = raw_datasets['train']

In [5]:
# view dataset
dataset[0:5]

{'question_id': [41067960, 41067960, 4170655, 29565452, 13704860],
 'intent': ['How to convert a list of multiple integers into a single integer?',
  'How to convert a list of multiple integers into a single integer?',
  'how to convert a datetime string back to datetime object?',
  'Averaging the values in a dictionary based on the key',
  'zip lists in python'],
 'rewritten_intent': ["Concatenate elements of a list 'x' of multiple integers to a single integer",
  'convert a list of integers into a single integer',
  "convert a DateTime string back to a DateTime object of format '%Y-%m-%d %H:%M:%S.%f'",
  'get the average of a list values for each key in dictionary `d`)',
  'zip two lists `[1, 2]` and `[3, 4]` into a list of two tuples containing elements at the same index in each list'],
 'snippet': ['sum(d * 10 ** i for i, d in enumerate(x[::-1]))',
  "r = int(''.join(map(str, x)))",
  "datetime.strptime('2010-11-13 10:33:54.227806', '%Y-%m-%d %H:%M:%S.%f')",
  '[(i, sum(j) / len(j)) for i, j in list(d.items())]',
  'zip([1, 2], [3, 4])']}

##### Coverting hugging-face dataset to pandas

In [6]:
df_pandas = dataset.to_pandas()

In [7]:
df_pandas.head(3)

,question_id,intent,rewritten_intent,snippet
0,41067960,How to convert a list of multiple integers int...,Concatenate elements of a list 'x' of multiple...,"sum(d * 10 ** i for i, d in enumerate(x[::-1]))"
1,41067960,How to convert a list of multiple integers int...,convert a list of integers into a single integer,"r = int(''.join(map(str, x)))"
2,4170655,how to convert a datetime string back to datet...,convert a DateTime string back to a DateTime o...,datetime.strptime('2010-11-13 10:33:54.227806'...

In [8]:
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2379 entries, 0 to 2378
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   question_id       2379 non-null   int64
 1   intent            2379 non-null   object
 2   rewritten_intent  2300 non-null   object
 3   snippet           2379 non-null   object
dtypes: int64(1), object(3)
memory usage: 74.5+ KB

In [9]:
df_pandas.describe()

        question_id
count  2.379000e+03
mean   1.285898e+07
std    1.164158e+07
min    1.476000e+03
25%    3.277503e+06
50%    9.841303e+06
75%    1.869271e+07
max    4.276562e+07

In [10]:
df_pandas.isnull().sum()

question_id          0
intent               0
rewritten_intent    79
snippet              0
dtype: int64

#### Drop row with Null values

In [11]:
df_pandas = df_pandas.dropna()

In [12]:
# dictionary is easy formatting for creating embedding
df_dict = df_pandas.to_dict(orient='records')